// Common styles of the project

.body{
  display: flex;
  flex-direction: column;

  font-family: Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42;
  position: relative;
}